header .h-14.flex.items-center {
    display: flex;
    flex-direction: row-reverse !important;
    align-items: center;
}

.flex.flex-col.gap-8.css-1pk60b8 {
    padding-top: 0px;
}

.flex.flex-col.gap-8.css-1ywlaqq {
    border-radius: 20px;
    margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
    .css-1ywlaqq .animate-slideIn.cursor-pointer {
    border-bottom: 1px #0000002e solid !important;
    padding-bottom: 20px;
    }
}

#headlessui-portal-root button.font-bold.text-skin-primary.underline {
    color: #ff0000;
}

#headlessui-portal-root .pointer-events-none.fixed.inset-y-0.left-0.flex.max-w-full.ps-10 {
    right: 0;
    padding-right: 0px !important;
    margin-right: 0px !important;
}

footer {
    background-color: #f6f6f6 !important;
}

.ql-editor.leading-10.css-1i2r0cx {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px !important;
    border-top: 1px #d7d7d7 solid;
    background-color: #f6f6f6 !important;

}

.css-121xleh h3 {
    color: rgb(255, 179, 24) !important;
}

.shadow-\[0px_1px_29px_0px_\#2022271C\] {
    box-shadow: none;
    border: 1px solid #d7d7d7;
}

.hover\:shadow-\[0px_8px_50px_0px_rgba\(32\2c 34\2c 39\2c 0\.25\)\]:hover {
    --tw-shadow: 0px 8px 50px 0px rgb(32 34 39 / 8%);
    --tw-shadow-colored: 0px 8px 50px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

button.flex.items-center.justify-center.gap-2.py-3.px-8.text-base.font-medium.transition-colors.duration-200.ease-in-out.focus\:outline-none.w-full.border.border-transparent.bg-skin-primary.hover\:bg-skin-primary.hover\:bg-opacity-80.active\:bg-opacity-90.text-gray-900.rounded-xl.md\:rounded-2xl.checkout_btn {
    background: black;
    color: white;
}

button.flex.items-center.justify-center.gap-2.py-3.px-8.text-base.font-medium.transition-colors.duration-200.ease-in-out.focus\:outline-none.w-full.border.border-transparent.bg-skin-primary.hover\:bg-skin-primary.hover\:bg-opacity-80.active\:bg-opacity-90.text-gray-900.rounded-xl.md\:rounded-2xl.checkout_btn:hover {
    background: #373737;
}

button.flex.items-center.justify-center.gap-2.py-3.px-8.text-base.font-medium.transition-colors.duration-200.ease-in-out.focus\:outline-none.w-full.border.border-skin-primary.bg-white.hover\:bg-gray-50.active\:bg-gray-100.text-gray-900.rounded-xl.md\:rounded-2xl.add_to_cart_btn {
    border: 1px solid black;
}

button.flex.items-center.justify-center.gap-2.py-3.px-8.text-base.font-medium.transition-colors.duration-200.ease-in-out.focus\:outline-none.w-full.border.border-skin-primary.bg-white.hover\:bg-gray-50.active\:bg-gray-100.text-gray-900.rounded-xl.md\:rounded-2xl.add_to_cart_btn:hover {
    border: none;
    background: #ffb318;
    color: #000000;
    opacity: 1;
}

main.container_class > .content_container:nth-of-type(3)
  .flex.flex-row.flex-wrap > div:nth-child(2)
  > div:first-child
  > div:first-child
  > span.absolute.inset-0.bg-\[\#f3f3f3\] {
    display: block !important;
    background: #00000078 !important;
    opacity: 1 !important;
    z-index: 1 !important;
}
h3.text-white.text-2xl.md\:text-\[42px\].font-bold {
    z-index: 2;
}
p.text-white.text-sm.md\:text-xl {
    z-index: 2;
}
button.w-fit.mx-auto.flex.gap-2\.5.items-center.text-sm.md\:text-base.text-white.font-semibold.border.border-\[\#E2E2E2\].rounded-2xl.py-3.px-7.md\:px-10.md\:mt-3 {
    z-index: 2;
}
nav span.absolute.inset-0.w-full.h-full.bg-\[\#f3f3f3\].hidden {
    display: none !important;
}

#hero .left-side .main-content .choosing .form-container {
        background-color: #e630540f !important;
}

.in-product-quantity-counter {
        background-color: #e6305430;
}

.accordion-butn:hover {
    background-color: #ffe0e8;
}

button#x-checkout-btn {
    animation: none !important;
}
button#x-checkout-btn:hover {
    background: #d1032c;
}

#hero .left-side .main-content .discount .percentage, .discount .percentage {
    color: #E63054;
    background-color: #fddee7;
}
#hero .left-side .main-content .rating-box {
    background-image: linear-gradient(274deg, #fb2e781f, transparent);
}

#hero .choosing .order-now {
    box-shadow: none;
}

.accordion-element .accordion-butn .btn-title .right img {
    background-color: rgb(255 224 232);
}
