header .h-14.flex.items-center {
    display: flex;
    flex-direction: row-reverse !important;
    align-items: center;
}

.flex.flex-col.gap-8.css-1pk60b8 {
    padding-top: 0px;
}

.flex.flex-col.gap-8.css-1ywlaqq {
    border-radius: 20px;
    margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
    .css-1ywlaqq .animate-slideIn.cursor-pointer {
    border-bottom: 1px #0000002e solid !important;
    padding-bottom: 20px;
    }
}

#headlessui-portal-root button.font-bold.text-skin-primary.underline {
    color: #ff0000;
}

#headlessui-portal-root .pointer-events-none.fixed.inset-y-0.left-0.flex.max-w-full.ps-10 {
    right: 0;
    padding-right: 0px !important;
    margin-right: 0px !important;
}

footer {
    background-color: #f6f6f6 !important;
}

.ql-editor.leading-10.css-1i2r0cx {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px !important;
    border-top: 1px #d7d7d7 solid;
    background-color: #f6f6f6 !important;

}
